img{
    margin-top: 15px;
}
main img {
    position: relative;
    top: 150px;
    width: 450px;
    border-radius: 10px;
}
section h3{
    display: none;
}
ul {
    background-color: rgba(165, 42, 42, 0.753);
    text-transform: uppercase;    
    display: flex;
    justify-content: center; 
    padding: 1% 0 1% 0;
}
nav a {
    text-decoration: none;
    color: whitesmoke;
}
header h1 {
    display: none;
}
li {
    text-decoration: none !important; 
    padding-right: 7%; 
    font-weight: 800;
}
main h2 {
    text-align: center;
    margin-top: 25px;
    font-size: 26px;
    font-weight: 900;
}
.boxform {
    box-shadow: 1px 1px #ad9974, 1em 0 0.4em #BAA57F;
}
form {
    font-weight: bolder;
    margin: 0 auto;
    width: 400px;
    height: 435px;
    position: relative;
    bottom:270px;
    padding: 1em;
    border-radius: 1em;
    margin-top: 30px;
    margin-right: 30px;
    background-color: #ad94654f;
}
form div + div {
    margin-top: 1em;
}
label { /*Colocar titulo dos textos acima dos campos*/
    display: block;
    width: 90px;
    margin-bottom: 3px;
    margin-left: 53px;
}
input, textarea { /*Mesmo tamanho para todos os campos de texto*/
    width: 300px;
    box-sizing: border-box;
    box-shadow: 2px 2px black, -0.1em 0 0.1em;
    margin-left: 50px;
}
textarea {
    height: 20em; /*Espaço suficiente para digitar*/
    resize: none; /*Remove o poder do usuario de altera o tamanho da text-box*/
}
.button {
    display: inline-block;
    border-radius: 15px;
    background-color: #615237;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 124px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; /*Movimento do botão*/
}
.button span:after {
    content: '\00bb'; /*Representa o >> ao passar pelo botão*/
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}