img{
    margin-top: 15px;
}
main img {
    position: relative;
    top: 150px;
    width: 450px;
    border-radius: 10px;
}
section h3{
    display: none;
}
ul {
    background-color: rgba(165, 42, 42, 0.753);
    text-transform: uppercase;    
    display: flex;
    justify-content: center; 
    padding: 1% 0 1% 0;
}
nav a {
    text-decoration: none;
    color: whitesmoke;
}
header h1 {
    display: none;
}
li {
    text-decoration: none !important; 
    padding-right: 7%; 
    font-weight: 800;
}
main h2 {
    text-align: center;
    margin-top: 25px;
    font-size: 26px;
    font-weight: 900;
}
.boxform {
    box-shadow: 1px 1px #ad9974, 1em 0 0.4em #BAA57F;
    
}
form {
    /* Apenas para centralizar o form na página */
    font-weight: bolder;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    position: relative;
    bottom:270px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border-radius: 1em;
    margin-top: 50px;
    margin-right: 30px;
    background-color: #ad94654f;
}
form div + div {
    margin-top: 1em;
}
label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 2px 2px black, -0.1em 0 0.1em;
}
textarea {    
    vertical-align: top; /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    height: 20em; /* Para dar espaço suficiente para digitar algum texto */
    resize: none; /* Limita o tamanho da box */
}
.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
}
button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: .5em;
}