.escolha-cafe{
    width: 480px;
    margin-bottom: 10px;

}
.escolha-cafe h2{
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
}
.escolha-cafe img{
    float: left;
    
}
.onde-encontrar{
    width: 470px;
    float: right;
    position: relative;
    bottom: 161px;
    height: 149px;
}
.onde-encontrar h2{
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
}
.onde-encontrar img {
    float: left;
    position: relative;
    top: 20px;
}