body{
    font-family: 'Roboto', sans-serif;
    padding: 10px 1%;
    background-color: #FADEAA;
}
.container{
    width: 960px;
    display: block;
    margin: 0 auto 0 auto;
}
p{
    margin-top: 15px;
}
h1, h2{
    color:rgb(141, 103, 20)
}
img{
    margin-top: 15px;
}
ul {
    background-color: rgba(165, 42, 42, 0.753);
    text-transform: uppercase;    
    display: flex;
    justify-content: center; 
    padding: 1% 0 1% 0;
}
nav a {
    text-decoration: none;
    color: whitesmoke;
}
header h1{
    display: none;
}
li {
    text-decoration: none !important; 
    padding-right: 7%; 
    font-weight: 800;
}
.titulo_banner h1{
    text-align: center;
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: bolder;
}
.banner{
    width: 100%;
    height: auto;
}

h1, h2{
    color:rgb(141, 103, 20);
    margin-top: 15px;
}
hr{
    margin-top: 20px;    
}
.copyright{
    font-size: small;
    width: 480px;
    float: right;
}